<ion-view view-title="S.O.L.I.D">
  <ion-content class="padding">
    <div class="card ">
      <div class="item item-divider">
        <h2 style="text-align: center;">SOLID Principles</h2>
      </div>
      <div class="item item-text-wrap ">

        <h4>Five principles that should guide you every time you write code.</h4><br>

        <p>SOLID is the acronym for a set of best practices that, when imple¬mented together, make code adaptive to change.
          The SOLID practices were introduced by Bob Martin. Even so, these practices are not as widely known as they could
          be—and perhaps should be. </p><br>

        <p>Even taken in isolation, each of these principles is a worthy prac¬tice that any software developer would do well
          to learn. When used in collaboration, these patterns give code a completely dif¬ferent structure—one that lends
          itself to change.
        </p><br>

        <p>However, take note that these patterns and practices, just like all others, are merely tools for you to use. Deciding
          when and where to apply any pattern or practice is part of the art of soft¬ware development. Overuse leads to code
          that is adaptive, but on too fine-grained a level to be appreciated or useful. Overuse also affects another key
          facet of code quality: readability. It is far more common for software to be developed in teams than as an individual
          pursuit. Thus, judiciously selecting when and where to apply each pattern, practice, or SOLID principle is imperative
          to ensure that the code remains comprehensible in the future.
        </p><br>

        <h3> Below are the SOLID principles:
          <h3><br>
            <ion-list class="item-text-center">
              <div class="card ">
                <ion-item href="#/app/home/design-principle/srp">
                  <span class="assertive">SRP</span> Single Responsibility Principle
                </ion-item>
              </div>
              <div class="card ">
                <ion-item href="#/app/home/design-principle/ocp">
                  <span class="assertive">OCP</span> Open/Closed Principle
                </ion-item>
              </div>

              <div class="card ">
                <ion-item href="#/app/home/design-principle/lsp">
                  <span class="assertive">LSP</span> Liskov Substitution Principle
                </ion-item>
              </div>

              <div class="card ">
                <ion-item href="#/app/home/design-principle/isp">
                  <span class="assertive">ISP</span> Interface Segregation Principle
                </ion-item>
              </div>

              <div class="card ">
                <ion-item href="#/app/home/design-principle/dip">
                  <span class="assertive">DIP</span> Dependency Injection Principle
                </ion-item>
            </ion-list>
            </div>
      </div>
    </div>
  </ion-content>
</ion-view>