<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-content clas=side-menu>
      <ion-list>
        <ion-item class="side-menu"> 
           <img src="../img/img - Copy.png"  /> </ion-item>
           
        <ion-item class="side-menu">  
            
        </ion-item>
        <ion-item class="side-menu"></ion-item>
        <ion-item menu-close href="#/app/home" class="item-icon-left">
          <i class="icon ion-home "></i>Home
        </ion-item>
        <ion-item menu-close href="#/app/share" class="item-icon-left">
          <i class="icon ion-android-share-alt"></i>Share
        </ion-item>
        <ion-item menu-close href="#/app/rate-us" class="item-icon-left">
          <i class="icon ion-android-favorite "></i>Rate us
        </ion-item>
        </ion-item>
        <!-- <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>