<ion-view view-title="Dependancy Inversion  Priniciple">
  <ion-content>
    <div class="item item-divider">
      <h2 style="text-align: center;">DIP: Dependancy Inversion Priniciple</h2>
    </div>
    <div class="item item-text-wrap ">
      <p>It would be unjust to tell you that any one of the SOLID principles is more important than another. However, probably
        none of the others have such an immediate and profound effect on your code than the Dependency Inversion Principle,
        or DIP in short. If you find the other principles hard to grasp or apply, start with this one and apply the rest
        on code that already respects DIP.</p><br>
        <h3>Definition</h3><br>
        <p>
        A. High-level modules should not depend on low-level modules. Both should depend on abstractions.<br>
        B. Abstractions should not depend upon details. Details should depend upon abstractions.
        </p>
    </div>
  </ion-content>
</ion-view>