<ion-view view-title="Interface Segregation Priniciple">
  <ion-content>
    <div class="item item-divider">
      <h2 style="text-align: center;">ISP: Interface Segregation Priniciple</h2>
    </div>
    <div class="item item-text-wrap ">

      <h3>Definition</h3><br>
      <p>No client should be forced to depend on methods it does not use. <br> Many client-specific interfaces are better than
        one general-purpose interface.
      </p>
      <p>What does that mean? Let's take an example. Suppose you are building an order processing system that accepts orders
        from the customers and places them in the system for dispatch and further processing. The orders can be accepted
        through various channels such as an ecommerce website, telephone and cash on delivery.To deal with this kind of processing
        you created the following abstract class:</p><br>
    <!-- //TODO:find some easy way to highlight syntax -->
        <pre><code class="cs hljs">
    <span class="hljs-meta-keyword">public</span> abstract class OrderProcessor
    {
        public abstract bool ValidatePaymentInfo();
        public abstract bool ValidateShippingAddress();
        public abstract void ProcessOrder();
    }
            </code></pre>
      
    </div>
  </ion-content>
</ion-view>