<ion-view>
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                <h2>SOLID Principle</h2>
            </div>
            <div class="item item-text-wrap">

                <h4>Five principles that should guide you every time you write code.</h4>

                <p>SOLID is the acronym for a set of best practices that, when imple¬mented together, make code adaptive to
                    change. The SOLID practices were introduced by Bob Martin. Even so, these practices are not as widely
                    known as they could be—and perhaps should be. </p>
                <label> are the SOLID principles: <label>
                <ul>
                <li>S The single responsibility principle </li>
                <li>O The open/closed principle </li>
                <li>L The Liskov substitution principle </li>
                <li>I Interface segregation </li>
                <li>D Dependency injection </li>
                </ul>

                <p>Even taken in isolation, each of these principles is a worthy prac¬tice that any software developer would do well to learn. When used in collaboration, these patterns give code a completely dif¬ferent structure—one that lends itself to change. </p>

                <p>However, take note that these patterns and practices, just like all others, are merely tools for you to use. Deciding when and where to apply any pattern or practice is part of the art of soft¬ware development. Overuse leads to code that is adaptive, but on too fine-grained a level to be appreciated or useful. Overuse also affects another key facet of code quality: readability. It is far more common for software to be developed in teams than as an individual pursuit. Thus, judiciously selecting when and where to apply each pattern, practice, or SOLID principle is imperative to ensure that the code remains comprehensible in the future.
                </p>
</div>
</div>
</ion-content>
</ion-view>