<ion-view title="Single Responsibility Principle">
    <ion-content class="card">
        <div class="item item-divider">
            <h2 style="text-align: center;">SRP: The Single Responsibility Principle</h2>
        </div>        
        <div class="item item-text-wrap ">
            <h3> A CLASS SHOULD HAVE ONLY ONE REASON TO CHANGE.</h3><br><br>
            <p>Thinking about in a first looks this principle looks like only one functionality for one class. In other way
                there will be only one method. <b>But that’s not true! </b> is a difference between functionality and reason
                of to create a class. If a class has more than one reason to change, it has more than one responsibility.
                Classes with more than a single responsibility should be broken down into smaller classes, each of which
                should have only one responsibility and reason to change.</p> <br>
            <span>Let’s take a simple example by looking out the below implementation of class </span>

            <br> <br>

            <h3>What is a Responsibility?</h3>
            <p>In the context of the Single Responsibility Principle (SRP) we define a responsibility to be “a reason for change.”
                If you can think of more than one motive for changing a class, then that class has more than one responsibility.
                This is sometimes hard to see. For example, consider the Modem interface</p>
            <br>
            <br>
            <h3>Conclusion</h3>
            <p>The SRP is one of the simplest of the principles, and one of the hardest to get right. Joining responsibilities
                is something that we do naturally. Finding and separating those responsibilities from one another is much
                of what software design is really about. Indeed, the rest of the principles we will discuss come back to
                this issue in one way or another.
            </p>
        </div>
    </ion-content>
</ion-view>